body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    transition: transform 4s;
}

.circulo:hover {
    transform: translateX(500px);
}
