body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 3s;
}

.quadrado:hover {
    transform: rotate(45deg);
}

.inicio {
    padding: 15px;
    background-color:#232323;
    color: #fff;
    text-decoration:none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}