body {
    font-family: Impact, sans-serif;
    background-color: #b3b3b3;
}

.menu {
    max-width: 1200px;
    max-height: 5000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(238, 233, 233, 0.1);
}

h1 {
    text-align: center;
    color: #90F2FC;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 50px;
}

a {
    width: 100px;
    height: 45px;
    display: grid;
    padding: 30px;
    margin: 5px;
    background-color: #007bff;
    color: #90F2FC;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
}

a:hover {
    background-color: #0056b3;

}
