body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background-color 0.5s ease;
}

.quadrado:hover {
    background-color: blue;
}
.inicio {
    padding: 15px;
    background-color:#232323;
    color: #fff;
    text-decoration:none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}