body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.inicio {
    padding: 15px;
    background-color:#038ad8;
    color: #fff;
    text-decoration:none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}