body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(235, 255, 58);
    animation: girar 3s linear infinite, proxCor 4s steps(8)
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }

}

@keyframes proxCor {
    0% { background-color: rgb(255, 115, 0); }
    12% { background-color: orange; }
    25% { background-color: yellow; }
    37% { background-color: lime; }
    50% { background-color: cyan; }
    62% { background-color: blue; }
    75% { background-color: purple; }
    87% { background-color: magenta; }
    100% { background-color: rgb(235, 255, 58); }
}

.inicio {
    padding: 15px;
    background-color:#232323;
    color: #fff;
    text-decoration:none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}